# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode playgrounds
timeline.xctimeline
playground.xcworkspace

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Provisioning profiles
*.mobileprovision
*.provisionprofile

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/README.md

# Bundler
vendor/bundle

# Environment / secrets
.env
.env.*
